// Primary Hudl Colors
$orange: #f87620;
$blue: #0d8dcf;

// Grey Colors
$dark: #171919; // Nick's - #202020;
$dark-grey: lighten($dark, 50%);
$light-grey: #f8f8f8;
$medium-grey: darken($light-grey, 6%);

// Destructive Colors
$red: #d81d1d;

// Success Colors
$green: #6aa220;

// White
$white: #ffffff;