// Variables
// ************************************

// Breakpoints
$break-r2: 430px;
$break-3po: 560px;
$break-luke: 730px;
$break-han: 840px;
$break-chewy: 1100px;
$break-jaba: 1500px;

// Z-Index Standards
$z-1: 100;
$z-2: 200;
$z-3: 300;
$z-4: 400;